@model StaticBonfirePizza.Models.Home

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- banner -->
<div class="banner slider1 new-block">
    <div class="fixed-bg" style="background: url('../assets/images/slider-bg1.jpg');"></div>
    <div class="slider owl-carousel owl-theme">
        <div class="item">
            <div class="slider-block slide1 new-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="text-block">
                                <div class="img-block ab1" data-animation-in="bounceInDown" data-animation-out="animate-out fadeOutRight">
                                    <img src="../assets/images/pizza.png" alt="" class="img-responsive">
                                </div>
                                <h1 class="text-stl1" data-animation-in="lightSpeedIn" data-animation-out="animate-out fadeOutRight">Bonfire Special</h1>
                                <div class="number-block" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight">
                                    <p class="text-stl2">We have a huge variety of pizza with great taste and quality. Explore & order your favorite pizza now.</p>


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="img-block img2">
                                <div class="img-holder" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">
                                    <img src="../assets/images/pz.png" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .slider-block -->
        </div>
        <div class="item">
            <div class="slider-block slide1 new-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="text-block">

                                <h1 class="text-stl1" data-animation-in="lightSpeedIn" data-animation-out="animate-out fadeOutRight">Burgers</h1>
                                <div class="number-block" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight">
                                    <p class="text-stl2">Choose your favorite Burger according to your taste.<br />We have many varieties of Veggie, cheese & grilled Burgers.</p>
                                    <p class="">100% Vegetarian and egg-free products</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="img-block img2">
                                <div class="img-holder" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">
                                    <img src="../assets/images/p-img18.png" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .slider-block -->
        </div>
    </div>
</div><!-- banner -->
<!-- product icon blocks below banner -->
<section class="cat-sec new-block">
    <div class="container-fluid pd0">
        <div class="cat-block">
            <div class="block-stl1 bg1">
                <span class="flaticon-pizza"></span>
                <h4>Pizza</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg2">
                <span class="flaticon-salad"></span>
                <h4>Bonfire Special</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg3">
                <span class="flaticon-fried-chicken"></span>
                <h4>Momos</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg4">
                <span class="flaticon-burger"></span>
                <h4>Burger</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg5">
                <span class="flaticon-french-fries"></span>
                <h4>Fries</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg6">
                <span class="flaticon-drink"></span>
                <h4>Beverage</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg7">
                <span class="flaticon-taco"></span>
                <h4>Pasta</h4>
            </div>
        </div>
    </div>
</section>
<!-- product icon blocks below banner -->
<!-- about -->
<section class="about-us-block new-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-custom1 pd0">
                <div class="img-holder">
                    <img src="../assets/images/Aboutpizza.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-custom2 pd0">
                <div class="fixed-bg">
                    <img src="../assets/images/bg8.jpg" alt="" class="img-responsive">
                </div>
                <div class="block-stl12">
                    <div class="title">
                        <p class="top-h">some interesting facts</p>
                        <h2>About The Bonfire Pizza</h2>
                    </div>
                    <p>The Bonfire Pizza is all about quality you can trust. Our sole mission is making the freshest, tastiest and funnest Pizza around. Our bonfire pizza will always be a fan favourite, with a soft and chewy crust perfectly balancing out the healthy tomato puree and mozzarella - cheddar blended cheese. Our mix topping pizza for those who would prefer a light and airy crust to more fully enjoy the toppings.</p>
                    <p>We also have various varieties of Burgers, Momos, sandwiches, Pasta, Maggi, and Shakes with great taste.</p>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-check"></i> We aim at creating premium quality of food & services at affordable price. </li>
                        <li><i class="fas fa-check"></i> To maintain a high statndard, we use premium quality raw materials.</li>
                        <li><i class="fas fa-check"></i> 100% Vegetarian and egg-free products are available here.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<!-- about -->
<!--Discover the best food & drinks -->
<section class="special-offers-sec new-block">
    <div class="special-offer-inr-block new-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="title">
                        <p class="top-h">Discover the best food & drinks</p>
                        <h2>We Have</h2>
                        <div class="btm-style"><span><img src="../assets/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="title delivery">
                        <img src="../assets/images/Delivery.png" alt="" class="">
                    </div>
                </div>
                <div class="col-lg-12 pd0">
                    <div class="special-offer-block ol_flr new-block">
                        <div class="ol_flr">

                            <div class="slider-flr" id="filter_itm1">

                                <div class="js-filter-populars">
                                    <div class="block-stl2">
                                        <div class="img-holder">
                                            <img src="../assets/images/img3.png" alt="" class="img-responsive">
                                        </div>
                                        <div class="text-block">
                                            <h3>Bonfire Pizza</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="js-filter-chicken">
                                    <div class="block-stl2">
                                        <div class="img-holder">
                                            <img src="../assets/images/img.png" alt="" class="img-responsive">
                                        </div>
                                        <div class="text-block">
                                            <h3>Burgers</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="js-filter-chicken">
                                    <div class="block-stl2">
                                        <div class="img-holder">
                                            <img src="../assets/images/img1.png" alt="" class="img-responsive">
                                        </div>
                                        <div class="text-block">
                                            <h3>Pizza</h3>

                                        </div>

                                    </div>
                                </div>
                                <div class="js-filter-meats">
                                    <div class="block-stl2">
                                        <div class="img-holder">
                                            <img src="../assets/images/momos.png" alt="" class="img-responsive">
                                        </div>
                                        <div class="text-block">
                                            <h3>Momos</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="js-filter-chicken">
                                    <div class="block-stl2">
                                        <div class="img-holder">
                                            <img src="../assets/images/img4.png" alt="" class="img-responsive">
                                        </div>
                                        <div class="text-block">
                                            <h3>Sandwich</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="js-filter-chicken">
                                    <div class="block-stl2">
                                        <div class="img-holder">
                                            <img src="../assets/images/img00.png" alt="" class="img-responsive">
                                        </div>
                                        <div class="text-block">
                                            <h3>Fries</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="js-filter-veggie">
                                    <div class="block-stl2">
                                        <div class="img-holder">
                                            <img src="../assets/images/img33.png" alt="" class="img-responsive">
                                        </div>
                                        <div class="text-block">
                                            <h3>Shakes</h3>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Discover the best food & drinks -->
<!--combo pack offer -->
<section class="spl-offer new-block">
    <div class="container-fluid c-grid">
        <div class="row">
            <div class="grid1">
                <div class="block-stl3 stl1">
                    <div class="fixed-bg" style="background: url('../assets/images/img6.jpg');"></div>
                    <div class="img-holder">
                        <img src="../assets/images/img6.png" alt="" class="img-responsive">
                    </div>
                    <div class="offer-block">
                        <p class="top-h">combo pack offer</p>
                        <h2>want something real & juicy ?</h2>
                        <p>Burger and Fries</p>
                        <a href="https://menu.bonfirepizzapoint.com/" target="_blank" class="btn3">Order Online</a>

                    </div>
                </div>
                <div class="c-grid2">
                    <div class="col1">
                        <div class="block-stl3 stl3">
                            <div class="img-holder">
                                <img src="../assets/images/img7.png" alt="" class="img-responsive">
                            </div>
                            <div class="offer-block">
                                <h2>Summer Special</h2>
                                <a href="https://menu.bonfirepizzapoint.com/" target="_blank" class="btn3">Order Online</a>

                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="block-stl3 bg9 stl4">
                            <div class="img-holder">
                                <img src="../assets/images/img8.png" alt="" class="img-responsive">
                            </div>
                            <div class="offer-block">
                                <h2>new arrivals</h2>
                                <a href="https://menu.bonfirepizzapoint.com/" target="_blank" class="btn3">Order Online</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid2">
                <div class="block-stl3 stl2">
                    <div class="fixed-bg" style="background: url('../assets/images/img9.jpg');"></div>
                    <div class="img-holder">
                        <img src="../assets/images/img9.png" alt="" class="img-responsive">
                    </div>
                    <div class="offer-block">
                        <p class="top-h">sunday offer</p>
                        <h2>wow! combo pack special offer</h2>
                        <a href="https://menu.bonfirepizzapoint.com/" target="_blank" class="btn3">Order Online</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--combo pack offer -->
<!--amazing offers online -->
<section class="amezing-offers new-block">
    <div class="overlay"></div>
    <div class="fixed-bg parallax" style="background: url('../assets/images/bg1.png');"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="img-holder">
                    <img src="../assets/images/pz1.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="text-block-stl1">
                    <div class="title">
                        <p class="top-h">amazing offers online</p>
                        <h2>New Range of Bonfire Pizza</h2>
                        <a href="https://menu.bonfirepizzapoint.com/" target="_blank" class="btn1 stl2">buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--amazing offers online -->
<section class="special-offers-sec new-block">
    <div class="special-offer-inr-block new-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="title">
                        <h2>OUR GOOGLE REVIEWS</h2>
                        <div class="btm-style"><span><img src="../assets/images/star.png" alt="" class="img-responsive"></span></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <style>
                    </style>
                    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                    <div class="elfsight-app-a3212b8c-dc24-4914-a335-0c930503d0ac"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--contact -->
<section>
    <div class="center-wrapper cn-us new-block">
        <div class="fixed-bg parallax" style="background: url('../assets/images/ptrn1.jpg');"></div>
        <div class="overlay"></div>
        <div class="send-msg new-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2>Contact Us</h2>
                            <div class="btm-style"><span><img src="../assets/images/btm-style.png" alt="" class="img-responsive"></span></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="block-stl11">
                            <i class="flaticon-phone-call"></i>
                            <p>9650672515  |  9548448084</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="block-stl11">
                            <i class="flaticon-message"></i>
                            <p>order@bonfirepizzapoint.com</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="block-stl11">
                            <i class="flaticon-placeholder"></i>
                            <p>AIIMS Road, Opposite HDFC Loan Home Loan, Rishikesh, Uttrakhand</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--contact -->
