@model StaticBonfirePizza.Models.Home

@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-info new-block">
    <div class="fixed-bg" style="background: url('images/info-bg.jpg');"></div>
    <div class="overlay"></div>
    <div class="container">
        <h2>Our Policies</h2>
        <div class="clear-fix"></div>

    </div>
</section>
<section class="about-product new-block">
    <div class="container">
        <div class="row">


        </div>
    </div>
    <div class="clearfix"></div>
</section>

<div class="center-wrapper new-block">
    <div class="inner-wrapper">
        <section class="about-product-block new-block">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="title">
                        <h2></h2>
                        <div class="btm-style"><span><img src="../assets/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    </div>
                </div>
                <div class="block-stl7">
                    <div class="text-center">
                        <h4>Privacy Policy</h4>
                    </div>
                    <p> Welcome at Bonfire Pizza we recognize that privacy is important.</p>
                    <p> This privacy policy designed to tell you about our practices regarding collections, use and disclosure of information that you may provide via this site. Please be sure to read this entire Privacy Policy before using or submitting information for this site.</p>
                    <p> In general, you can visit this website without telling us who you are or revealing any information about yourself. Our web servers only collect the domain names, not the e-mail address, of visitors.</p>
                    <p>
                        Bonfire may collect personal information from you including your first and last name, address, telephone and Mobile Number(s), email Address, credit card details and any other information when you knowingly provide us with this information.
                        Bonfire Does not store any of credit card details.
                    </p>
                    <p> Bonfire will not collect, use or disclose sensitive information except with your specific consent. </p>
                    <p> Bonfire may not provide links to other sites. </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="title">
                        <h2></h2>
                        <div class="btm-style"><span><img src="../assets/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    </div>
                </div>
                <div class="block-stl7">
                    <div class="text-center">
                        <h4>Terms & Conditions</h4>
                    </div>
                    <p> Delivery in Delivery Zone is available only in selected area(s) serviceable by the restaurants falling under Express Delivery Zone, during defined days and serviceable hours.</p>
                    <p> The defined days and serviceable hours mentioned in the advertisements are only indicative in nature, can be different for each Delivery Zone and are subject to change at Bonfire’s sole discretion. </p>
                    <p> Bonfire’s shall attempt Express Delivery within 20 minutes of the order being placed. The Express Delivery of 20 minutes does not constitute any guarantee of delivery within 20 minutes and is solely to give its customers an improved delivery experience. </p>
                    <p> However, all orders placed in Delivery Zone are subject to the Terms and Conditions of “30 Minutes or Free and Total Satisfaction Guarantee”. </p>
                    <p> Bonfire’s retains the right to discontinue this initiative or amend the terms of Delivery Zone of 20 minutes, at any given time, at its sole discretion and without prior notice. </p>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="title">
                        <h2></h2>
                        <div class="btm-style"><span><img src="../assets/images/btm-style.png" alt="" class="img-responsive"></span></div>
                        
                        
                    </div>
                </div>
                <div class="block-stl7">
                    <div class="text-center">
                        <h4>Refunds/Cancellation Policy</h4>
                    </div>
                    <p> The online order cannot be modified. </p>
                    <p> Cancellation of Order by Customer is Applicable only for Cash on Delivery Orders.  </p>
                    <p> Cancellation of Order by Customer will not be chargeable within 5 Mins of order placement. </p>
                    <p> Cash on delivery option will be disabled for the next order upon cancellation of order beyond 5 Mins. Cash payment will not be enabled after unsuccessful delivery of any reason. </p>
                    <p> Cancellation of order will not be allowed once the delivery executive reaches the Customer Location. </p>
                    <p> Cancellation will be free if order is not delivered till 40 mins for regular days and 60 mins during festivals (festivals/big occasions like New Year eve, Christmas, Ganga Dussehra, etc). </p>
                    <p>
                        You can get updated on the status of the order by calling the restaurant directly.
                    </p>
                    <p> In case the order which is paid through digital payment method is cancelled due to non-availability of the ordered product at the restaurant, the amount will be returned by reversing the transaction by Bonfire restaurant. This refund will be returned on the actual source or any other alternate source within 5 to7 working days. However, Bonfire is not responsible for any delay on the bank side. </p>
                </div>
            </div>
        </section>
    </div>
</div>
