<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="4K5BOgypDG_pXEoNcxUZcTdilJJPtKXAknY3a0GWSFI" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonfire Pizza</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/fav2.ico" type="image/x-icon">
    <link rel="icon" href="../assets/images/fav2.ico" type="image/x-icon">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- main stylesheet -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- color stylesheet -->
    <link rel="stylesheet" href="../assets/css/colors.css" id="ui-theme-color">
    <!-- responsive css -->
    <link rel="stylesheet" href="../assets/css/responsive.css">
</head>

<body>
    <style>

      @*  @@media only screen and (min-width: 375px) and (max-width: 767px) {
            .ordernow {
                display: none;
            }
        }*@

        img.img-responsive {
            margin-top: 3px;
        }
    </style>
    <div class="loader_wrapper">
        <div class="loader">
            <img src="../assets/images/loader.gif" alt="" class="img-fluid">
        </div>
    </div>
    <!--// loader_wrapper -->

    <div id="wrapper">
        <header class="new-block main-header">
            <div style="background-color: #c10a28">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="logo">
                                <a href="http://bonfirepizzapoint.com/"><img src="../assets/images/BonfirPizzaPoint.png" alt="logo" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="ordernow">
                                <a href="http://menu.bonfirepizzapoint.com/" target="_blank"><img src="../assets/images/Hungry.gif" alt="Order Now" class="img-responsive"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header> <!-- header -->



        @RenderBody()



        <footer class="main-footer new-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-head">
                            <h3>About Us :</h3>
                        </div>
                        <div class="footer-content">
                            <p>We aim at creating premium quality of food & services at affordable price. <br /><br />To maintain a high statndard, we use premium quality raw materials.</p>
                            <p> 100% Vegetarian and egg-free products are available here.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="flickr">
                            <div class="footer-head">
                                <h3>Gallery:</h3>
                            </div>
                            <div class="footer-content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><img src="../assets/images/Layer-12.jpg" alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="../assets/images/Layer-13.jpg" alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="../assets/images/Layer-14.jpg" alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="../assets/images/Layer-15.jpg" alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="../assets/images/Layer-16.png" alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="../assets/images/Layer-17.jpg" alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="../assets/images/Layer-18.jpg" alt="" class="img-responsive"></a></li>
                                    <li><a href="#"><img src="../assets/images/Layer-19.jpg" alt="" class="img-responsive"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-head">
                        </div>
                        <div class="footer-content">
                            <ul class="list-unstyled card-block">
                                <li><a href="#"><img src="../assets/images/crt1.png" alt=""></a></li>
                                <li><a href="#"><img src="../assets/images/crt2.png" alt=""></a></li>
                                <li><a href="#"><img src="../assets/images/crt3.png" alt=""></a></li>
                                <li><a href="#"><img src="../assets/images/crt4.png" alt=""></a></li>
                            </ul>
                            <ul class="social-nav">
                                <li><a href="https://www.facebook.com/piyapriy" target="_blank"><i class="flaticon-facebook-logo"></i></a></li>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </footer>
        <div class="copy-right">
            <div class="container">
                <p><a href="#">Bonfire Pizza</a> - All Rights Reserved Design</p>

            </div>
        </div>
        <span id="go_to_top" class="go-to-top"><i class="flaticon-up-arrow"></i></span>

        <div class="theme-menu hide-sidebar">
            <h2>Choose your color</h2>
            <div id="style-switcher">
                <ul class="colors theme-btn">
                    <li data-path="../assets/css/colors.css" data-url="images">
                        <p class="btn clr-style" style="background:#c10a28;"></p>
                    </li>
                    <li data-path="../assets/css/colors2.css" data-url="../assets/images/clr2">
                        <p class="btn clr-style" style="background:#f1b601;"></p>
                    </li>
                    <li data-path="../assets/css/colors3.css" data-url="../assets/images/clr3">
                        <p class="btn clr-style" style="background:#0a84c1;"></p>
                    </li>
                    <li data-path="../assets/css/colors4.css" data-url="../assets/images/clr4">
                        <p class="btn clr-style" style="background:#02a8aa;"></p>
                    </li>
                    <li data-path="../assets/css/colors5.css" data-url="../assets/images/clr5">
                        <p class="btn clr-style" style="background:#db780d;"></p>
                    </li>
                    <li data-path="../assets/css/colors6.css" data-url="../assets/images/clr6">
                        <p class="btn clr-style" style="background:#e54c04;"></p>
                    </li>
                </ul>
            </div>

        </div>
    </div><!-- #wrapper -->
    <!-- include jQuery -->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- bootstrap -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <!-- slick slider  -->
    <script src="../assets/js/slick.js"></script>
    <!-- dscountdown  -->
    <script src="../assets/js/dscountdown.min.js"></script>
    <!-- jquery.nice-select -->
    <script src="../assets/js/jquery.nice-select.js"></script>
    <!-- magnific-popup -->
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Mixitup -->
    <script src="../assets/js/mixitup.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP1lPhUhDU6MINpruPDinAzXffRlpzzFo"></script>
    <script src="../assets/js/map.js"></script>
    <!-- custom js -->
    <script src="../assets/js/custom.js"></script>
    <script>
    var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?40223';
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = url;
    var options = {
  "enabled":true,
  "chatButtonSetting":{
      "backgroundColor":"#4dc247",
      "ctaText":"",
      "borderRadius":"25",
      "marginLeft":"0",
      "marginBottom":"50",
      "marginRight":"50",
      "position":"right"
  },
  "brandSetting":{
      "brandName":"Bonfire Pizza Point",
      "brandSubTitle":"",
      "brandImg":"http://www.bonfirepizzapoint.solversolutiongroup.com/assets/images/logo.png",
      "welcomeText":"Hi there!\nHow can I help you?",
      "messageText":"Hello, I have a question about {{page_link}}",
      "backgroundColor":"#c10a28",
      "ctaText":"Start Chat",
      "borderRadius":"25",
      "autoShow":false,
      "phoneNumber":"919650672515"
  }
};
    s.onload = function() {
        CreateWhatsappChatWidget(options);
    };
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
    </script>
</body>

</html>