@model StaticBonfirePizza.Models.Home

@{
    ViewBag.Title = "SpinWheel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .smt-app-lucky_wheel .lw-window-wrapper .lw-window .lw-close {
            position: absolute;
            color: #000;
            top: 15px;
            right: 15px;
            width: 24px;
            height: 24px;
            cursor: pointer;
            text-align: center;
            line-height: 24px;
            z-index: 1;
            font-style: normal;
        }
    </style>
</head>
<body>
    <div class="main_slider">
        <div class="shop_banner">
            <div class="item">
                <div class="img_fill">
                    <img src="https://bonfirepizzapoint.com/assets/images/Spin-win.gif" class="img-fluid" alt="slider">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://smartarget.online/loader.js?u=76a3f6fb935d5770234e95eb3a431dd3c231419e"></script>
</body>
</html>

